---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../db/supabase.js";
import Logo from "../assets/Logo.astro";

// const { data: users, error: usersError } = await supabase
//   .from('users')
//   .select()


const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

//dsadjas
const search = Astro.url.searchParams.get('search');
let query = supabase.from('users').select();

if (search) {
  query = query.ilike('name', `%${search}%`);
}

const { data: users, error: usersError } = await query;
//dkasjdls


const email = data?.user?.email;
---
<Layout>
  <section class="max-w-5xl mx-auto p-4 border border-amarillo mt-10">
    <div class="flex text-fondo justify-between items-center mb-4 bg-amarillo py-4 px-4">
      <div class="flex items-center w-12">
        <Logo />
      </div>
      <div><h2 class="text-3xl font-bold">Panel de control</h2></div>
      <div>
        <form action="/api/auth/signout">
            <button class="cursor-pointer hover:text-white font-bold" type="submit">Cerrar sesión</button>
        </form>
      </div>
    </div>
    <div class="py-4 flex">
      <h3 class="text-xl font-bold">Bienvenido <span class="font-bold text-amarillo">{email}</span></h3>
    </div>
    <h2 class="mb-2 text-3xl font-bold">Usuarios Registrados</h2>
    <div class="flex justify-between items-center mb-4">
      <div class="my-6">
        <a class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded" href="/actions?type=insert" >Agregar Usuario +</a>
      </div>
      <div>
        <form method="get" class="flex items-center">
          <input
          type="text"
          name="search"
          value={search ?? ''}
          placeholder="Buscar..."
          class="border border-gray-500 rounded focus:outline-none"
        />
        <button type="submit" class="ml-2 p-2 bg-blue-500 text-white rounded hover:bg-blue-600">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>        </button>
        <button
          type="button"
          class="ml-2 p-2 bg-gray-400 text-white rounded hover:bg-gray-500"
          onclick="window.location.href = window.location.pathname"
        ><svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg></button>
      </div>
    </div>
    <div>
    
      {usersError ? (
          <p>Error loading users: {usersError.message}</p>
        ) : (
          <ul>
            {users?.map((user) => (
              <div class="flex justify-between items-center mb-2 p-2 border-b">
                <a href={`/found/${user.id}`} class="flex font-bold uppercase">
                  {user.name} {user.lastName}
                </a>
                <div>
                <span><a class="del" data-id={`${user.id}`}>Elminar</a></span>
                <span><a class="edit" href={`/actions?type=edit&id=${user.id}`}>Editar</a></span>
                </div>
              </div>
            ))}
          </ul>
    
        )}
    </div>
  </section>
  <script src="../lib/delete.supabase.js"></script>
</Layout>


<style>
.edit {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
  .edit:hover {
    text-decoration: underline;
  }
  .del {
    color: red;
    cursor: pointer;
  }
  .del:hover {
    text-decoration: underline;
  }
</style>